pyowm==3.1.1                    # weather
Pillow>=7.1.1                   # imaging
icalendar==4.0.6                # iCalendar parsing
feedparser==6.0.8               # parse RSS-feeds
#numpy>=1.18.2                   # image pre-processing #pre-installed on Raspbian, omitting
arrow==0.17.0 	                # time operations
Flask==2.1.1                    # webserver
Flask-WTF==1.0.1                # webforms
todoist-python==8.1.2           # todoist api
yfinance>=0.1.62                # yahoo stocks
matplotlib==3.4.2               # plotting
pygame~=2.1.2                   # debug display
keyboard~=0.13.5
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gspread
oauth2client
black
pre-commit